@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import "styles/Header-styles.css";

.App{
  font-family: 'Montserrat';
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  padding-top:10vh;
}

.main-content{
  background-color: white;
  width: 95%;
  margin: auto;
  height: 100vh;
  padding: 10px;
  box-shadow: rgb(231, 230, 230) 5px 5px;
}



